@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
    --background: #0d0d0d;
    --foreground: #ddd8e2;

    --muted: #33353d;
    --muted-foreground: #dad4bd;

    --popover: #0d0d0d;
    --popover-foreground: #ddd8e2;

    --card: #0d0d0d;
    --card-foreground: #ddd8e2;

    --border: #cac5ce;
    --input: #cac5ce;

    --primary: #ddd8e2;
    --primary-foreground: #0d0d0d;

    --secondary: #cac5ce;
    --secondary-foreground: #ddd8e2;

    --accent: #cac5ce;
    --accent-foreground: #ddd8e2;

    --destructive: #ff4e1f;
    --destructive-foreground: #0d0d0d;

    --ring: #d732a6;

    --radius: 0.5rem;
}

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
